numpy
pygame
SpeechRecognition
wave
python-levenshtein
aeneas
pyaudio
librosa
google-cloud-texttospeech
nltk

# google tts:
msgpack
gTTS

# dictionaries, translators, etc.
PyDictionary
--upgrade google-cloud-translate
